.pseudo_log {
  width: auto;
  background-color: rgb(224, 232, 225);
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 8px;

  padding: 20px;
  margin: 20px;

  font-size: 24px;
}
